.dialog {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: relative;
  z-index: 999;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: safe center;
  justify-content: safe center
}

.content {
  margin-top: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: auto;
}

.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ffc76d;
  padding: 1rem;
}

.header h2 {
  margin: 0;
}

.body {
  padding: 1rem;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
